<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/adm">
        <b style="color: #57aa90e0;">Clínica Docente los Jarales</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link" href="/medico">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="mt-5">
	<div class="container">
		<div class="card mx-auto" style="width: 500px;">
			<div class="card-header">
                <img class="card-img-top mx-auto m-2" src="/img/logo.jpg" alt="Logo" style="width: 200px;
                height: 200px; display:block">
  				<h3 class="text-uppercase text-center p-4">Login</h3>
				<div class="card-body text-center">
					<form action="/auth" method="post">
						<input type="email" name="email" placeholder="email" id="email" required>
						<input type="password" name="password" placeholder="Password" id="password" required>
						<input type="submit" value="Login">
					</form>
				</div>
			</div>
		</div>
	</div>
</main>