<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3 class="text-upeprcase">CREAR NUEVA CITA</h3>
        </div>
        <div class="card-body">
          <form action="/add" method="post">
            <div class="input-group mt-2">
              <label for="nombreDoctor" class="input-group-text">Doctor</label>
              <select id="id_medico" name="id_medico">
                {{#each doctores}}
                  <option value={{this.id_medico}} name="id_medico" id="id_medico">{{this.nombre}}</option>
                {{/each}}
              </select>
              {{!-- <input class="form-control" type="text" name="nombreDoctor" id="nombreDoctor" placeholder="Ejemplo: Miguel Quintero" autofocus required> --}}
            </div>
            <div>
              <input type="hidden" value="{{decoded.id}}" name="id_paciente" id="id_paciente">
            </div>
            <div class="input-group mt-2">
              <label for="nombrePaciente" class="input-group-text">Paciente</label>
              <input class="form-control" type="text" value="{{decoded.nombre}}" name="nombre" id="nombre" placeholder="Ejemplo: Luis Angel"autofocus required>
            </div>
            <div class="input-group mt-2">
              <label for="fecha" class="input-group-text">Fecha</label>
              <input class="form-control" type="date" name="fecha" id="fecha" required>
            </div>
            <div class="input-group mt-2">
              <label for="hora" class="input-group-text">Hora</label>
              <input class="form-control" type="time" name="hora" id="hora" required>
            </div>
            <div class="input-group mt-4 d-grid gap-2">
              <button class="btn btn-succes">Crear</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>